/* Fonte e Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Topo e Navegação */
.topo {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.topo span {
  color: #3cbd87;
  font-size: 18px;
}

/* Main e Container */
.main {
  background-color: #f0f0f0;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

/* Cards de Produto */
.card-produto {
  border-radius: 4px;
  box-shadow: 1px 1px 10px 1px gray;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}

.container-imagem {
  flex-shrink: 0;
}

.container-imagem img {
  width: 100%;
  height: 150px;
  object-fit: cover; 
  border-radius: 4px 4px 0 0;
}

.container-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-info h3 {
  font-size: 18px;
}

/* Página de Detalhes do Produto */

.product-details-page .product-title {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.product-details-page .product-container {
  display: flex;
  flex-direction: column; 
}

.product-details-page .product-content {
  display: flex; 
  gap: 20px; 
}

.product-details-page .product-image img {
  max-width: 350px;
  height: auto;
  border-radius: 8px;
}

.product-details-page .product-info-container {
  display: flex;
  flex-direction: row; 
  gap: 10px;
  padding: 2px;
  flex: 1; 
}

.product-details, .product-nutrition {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa;
  flex: 1;
  min-width: 400px;
  max-width: 600px;
}

.product-details-page .product-nutrition h3,
.product-details-page .product-back {
  margin-bottom: 10px;
}

.product-details-page .product-back {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.product-details-page .product-back a {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #3cbd87;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}

.product-details-page .product-back a:hover {
  background-color: #34a576;
}

/* Responsividade para a Página de Detalhes */
@media (max-width: 768px) {
  .product-details-page .product-content {
    flex-direction: column;
  }

  .product-details-page .product-image img {
    max-width: 90%;
  }
}


/* Rodapé */
footer {
  background-color: #3cbd87;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}

footer p {
  margin: 0;
}

/* Formulários (Contato, Login, Cadastro) */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form textarea {
  resize: vertical;
  height: 100px;
}

form button {
  padding: 12px;
  background-color: #3cbd87;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #34a576;
}

/* Contêineres das Páginas Adicionais */
.contact-container,
.forgot-password-container,
.login-container,
.register-container {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-container h2,
.forgot-password-container h2,
.login-container h2,
.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Links de Navegação (Ex: Recuperar Senha, Cadastro) */
a {
  color: #3cbd87;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px; /* Largura máxima da container */
  display: grid; /* Usar grid para melhor controle de layout */
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Adapta para 2, 3 ou 4 colunas */
  gap: 20px; /* Espaço entre os cards */
  margin: 0 auto; /* Centraliza a container */
}


/* Responsividade para telas menores */
@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Adapta para telas menores */
  }
}

@media (max-width: 768px) {
  .main {
    padding: 20px;
  }

  .container-preco {
    flex-direction: column;
    gap: 10px;
  }

  form {
    width: 90%;
  }
}

/* Estilo para a página 404 */
.container {
  text-align: center;
  padding: 50px;
}

.container h1 {
  color: #3cbd87;
  font-size: 36px;
}

.container p {
  margin: 20px 0;
  color: #333;
}


/* Estilos para o Hamburger */
.hamburger {
  display: flex; /* Sempre mostra o botão hamburger */
  flex-direction: column;
  cursor: pointer;
  margin: 10px; /* Margem para o botão */
}

.bar {
  height: 4px;
  width: 25px;
  background-color: #3cbd87;
  margin: 3px 0;
}

/* Oculta o menu por padrão */
.nav-links {
  display: none; /* Esconde o menu por padrão */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Exibe o menu quando ativo */
.nav-links.active {
  display: flex;
  flex-direction: column; 
  background-color: #333;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Estilo da navegação */
nav {
  background-color: #3cbd87; 
}

/* Estilo dos itens do menu */
nav ul li a {
  color: white;
}

/* Media query para telas maiores */
@media (min-width: 769px) {
  .nav-links {
      display: flex;
      position: static;
      flex-direction: row;
  }
  .nav-links li {
      margin: 0 15px;
  }
  .hamburger {
      display: none;
  }
}

.hamburger .bar {
  background-color: white;
}



@media (max-width: 768px) {
  .product-details-page .product-content {
    flex-direction: column;
  }

  .product-details-page .product-image img {
    max-width: 90%;
  }

  .container {
    padding: 0 10px;
  }

  .card-produto {
    margin-bottom: 20px;
  }

  .product-details-page .product-info-container {
    flex-direction: column;
    align-items: center;
  }

  .product-details, .product-nutrition {
    min-width: auto;
    max-width: 100%; 
  }

  /* Ajustes no formulário */
  form {
    width: 95%;
  }

  /* Ajustes na barra de navegação */
  nav {
    flex-direction: column;
  }

  .nav-links.active {
    top: 50px;
    width: 90%;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .topo {
    padding: 10px 0;
  }

  .topo span {
    font-size: 16px;
  }
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .card-produto {
    width: 100%;
  }
}

/* Ajustes para centralizar e aumentar os formulários de contato, login e registro */
.contact-container, .login-container, .register-container {
  max-width: 800px;
  padding: 40px;
  margin: 40px auto;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px; 
}

.contact-container h2, .login-container h2, .register-container h2 {
  font-size: 28px; 
  margin-bottom: 20px;
  text-align: center; 
}

.contact-container form, .login-container form, .register-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-container form input, 
.login-container form input, 
.register-container form input, 
.contact-container form textarea {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
}

.contact-container form button, 
.login-container form button, 
.register-container form button {
  padding: 15px;
  font-size: 18px;
}

/* Ajustes para centralizar e ocupar a largura da página nos formulários */
.contact-container, 
.login-container, 
.register-container {
  width: 1100px;
  max-width: 1200px;
  padding: 40px;
  margin: 40px auto;
  background-color: #f9f9f9; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.contact-container form, 
.login-container form, 
.register-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

form input, 
form textarea {
  padding: 12px; 
  font-size: 16px; 
  border-radius: 8px; 
}

form button {
  padding: 15px; 
  font-size: 18px; /
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
  .contact-container,
  .login-container,
  .register-container {
    width: 350px;
    padding: 20px;
  }

  form {
    width: 100%;
    max-width: none;
  }

  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form textarea {
    padding: 10px;
    font-size: 14px;
  }

  form button {
    padding: 10px;
    font-size: 16px;
  }
}

