<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Página Não Encontrada - 404</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <h1>Página Não Encontrada</h1>
            <p>Desculpe, mas a página que você está procurando não existe.</p>
            <p>Você pode voltar para a <a href="/">página inicial</a>.</p>
        </div>
    </div>
</body>
</html>
